@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.body {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -0.025em;
    text-transform: uppercase;
    color: #111111;

}

.navbar {
    margin-top: 31px;
    padding: 0px;
}

.nav-link {
    color: #111111;
}

.navbar-brand {
    margin-right: 200px;
}

.navbar-nav .nav-item {
    margin-right: 71px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    text-align: center;
    letter-spacing: -0.055em;
    text-transform: lowercase;

    color: #111111;
}

.section-header .intro-head {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 160px;
    line-height: 194px;
    letter-spacing: -0.095em;

    color: #111111;
    margin-left: 270px;
}

.section-intro {
    background-image: url(images/intro-girl.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100% auto;
    display: flex;
    flex-direction: column;

}


.section-intro .intro-comment {
    padding-top: 60px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: -0.025em;
    text-transform: uppercase;
    color: #111111;
}

.section-intro .btn-book-a-all {
    width: 650px;
    height: 110px;

    margin-top: 302px;
    margin-bottom: 90px;

    box-sizing: border-box;
    background: rgba(227, 227, 227, 0.2);
    border: 1px solid #F8F8F8;
    backdrop-filter: blur(15px);
    border-radius: 60px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.055em;
    text-transform: uppercase;
    color: #F8F8F8;

}

.section-services {
    margin-bottom: 50px;
}

.section-services .services-head {
    margin-top: 120px;
    margin-bottom: 123px;
    display: inline-block;
    width: fit-content;
    align-content: center;
}

.head-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 125px;
    line-height: 151px;
    letter-spacing: -0.06em;
    text-transform: uppercase;

    color: #111111;
}

.line {
    width: 1000px;
    border: 1px solid #111111;
}


.section-services .services-comment {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: -0.025em;
    text-transform: uppercase;

    color: #111111;
}

.section-services .btn-more {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.025em;
    text-decoration-line: underline;
    text-transform: lowercase;

    color: #111111;
    padding-left: 0px;

}

.services-item {
    display: inline-block;
    /* Контейнер подстраивается под содержимое */
    width: fit-content;
    /* Ширина равна ширине содержимого */
    margin-bottom: 30px;
    padding: 0px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    padding: 0;
}

.services-item img {
    height: auto;
    margin-bottom: 20px;
}


.section-about {
    margin-bottom: 120px;
}

.section-about .about-head {
    margin-top: 120px;
    margin-bottom: 100px;
    text-align: center;
}

.section-about .about-img {
    width: 100%;
    height: auto;
    margin-bottom: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.section-about .about-comment1 {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: -0.025em;
    text-transform: uppercase;
    max-width: 589px;
    color: #111111;

}

.section-about .about-comment2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 103.52%;
    letter-spacing: -0.025em;
    text-transform: lowercase;
    color: #111111;
    max-width: 175px;


}

.section-owner {
    background-color: #111111;
    padding-bottom: 200px;
}

.section-owner .owner-white-block {
    display: inline-block;
    width: fit-content;
    background-color: #FFFFFF;
    margin-top: 200px;
    padding: 20px 25px 20px 25px;
}



.section-owner .owner-img-text-container,
.section-owner .owner-img-text-container2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}


.section-owner .text-overlay {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 120px;
    line-height: 151px;
    letter-spacing: -0.06em;
    text-transform: uppercase;
    color: #F8F8F8;
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.section-owner .text-landber-i-am {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 116.02%;
    letter-spacing: -0.025em;
    text-transform: uppercase;
    color: #111111;
    position: absolute;
    top: 50px;
    left: 20px;
}

.section-numbers {
    margin-bottom: 140px;
    margin-top: 200px;
}

.section-numbers .numbers-item {
    display: flex;
    align-items: baseline;
}

.section-numbers .numbers-item-num {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 200;
    font-size: 125px;
    line-height: 151px;
    letter-spacing: -0.1em;
    text-transform: uppercase;
    color: #111111;
}

.section-numbers .numbers-item-text {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 120px;
    line-height: 92%;
    letter-spacing: -0.055em;
    text-transform: uppercase;
    color: #111111;
    margin-left: 20px;
}

.section-numbers .nums {
    margin-bottom: 80px;
}

.section-numbers {
    margin-bottom: 140px;
}

.section-process {
    background: #F9F9F9;
    margin-bottom: 200px;
}

.section-process .process-head {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 125px;
    line-height: 151px;
    letter-spacing: -0.06em;
    text-transform: uppercase;

    color: #111111;
    margin-bottom: 98px;
    text-align: center;
    padding-top: 200px;
}

.section-process .process-body {
    padding-top: 100px;
    width: fit-content;
    padding: 0;
}

.section-process .step {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.055em;
    text-transform: uppercase;
    color: #111111;


}

.section-process .process-line {
    width: 1440px;
    border: 1px solid #111111;
}

.section-clients {

    background: #111111;
    padding-top: 200px;

}

.section-clients .clients-head {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 125px;
    line-height: 151px;
    letter-spacing: -0.06em;
    text-transform: uppercase;

    color: #F8F8F8;
    margin-bottom: 115px;
}

.section-clients .clients-body {
    padding-top: 200px;
    max-width: 1440px;
    padding-left: 0;
    padding-right: 0;

}

.section-clients .clients-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.section-clients .clients-item {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 50px;
    line-height: 61px;
    letter-spacing: -0.055em;
    text-transform: uppercase;
    color: #F8F8F8;
    text-align: center;
    flex: 1;
    padding: 0 15px;
}

.section-clients .clients-items {
    padding-bottom: 200px;
}

.section-collections .collections-body {
    max-width: 1408px;
    padding: 0;
}

.section-collections .collections-head {
    margin-top: 120px;
    margin-bottom: 100px;
    margin-left: 100px;
    padding-left: 65px;
}

.section-collections .text-collections {
    margin-left: 170px;
}

.section-collections .collections-items {
    padding-left: 32px;
    padding-right: 17px;
    margin-bottom: 180px;
}

.section-collections .collections-item {
    max-width: 649px;
    max-height: 590px;
}

.section-collections .collections-text {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 53.237px;
    line-height: 64px;
    letter-spacing: -0.055em;
    text-transform: uppercase;

    color: #111111;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: end;

}

.section-collections .btn-collections {
    width: 470px;
    height: 80px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.055em;
    text-transform: uppercase;

    color: #F8F8F8;

    background: rgba(227, 227, 227, 0.2);
    border: 1px solid #F8F8F8;
    backdrop-filter: blur(15px);
    border-radius: 60px;
}

.section-collections .collections-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.section-collections .collections-group-text-butt {
    position: absolute;
}

.section-lookbook {
    background: #F8F8F8;
    height: 1500px;

}

.section-lookbook .lookbook-body {
    /* margin-left: 0px; */
    /* margin-right: 0px; */
}

.section-lookbook .lookbook-head {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 125px;
    line-height: 151px;
    letter-spacing: -0.06em;
    text-transform: uppercase;
    position: absolute;

    color: #111111;

    margin-top: 100px;
    margin-left: 350px;
    margin-bottom: 35px;
}

.section-lookbook .lookbook-line {
    border: 1px solid #111111;
    margin-bottom: 1300px;
    position: relative;
}

.section-lookbook .lookbook-text {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 80px;
    line-height: 97px;
    letter-spacing: -0.055em;
    text-transform: uppercase;
    color: #111111;

    transform: rotate(-90deg);
    white-space: nowrap;
    margin-bottom: 400px;
    position: absolute;

}

.section-lookbook .lookbook-item {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    /* max-width: 180px; */
    position: relative;
    height: 1419px;
    background: url('./images/lookbook-line.svg');
    background-repeat: no-repeat;
}

.section-lookbook .lookbook-items {
    padding-left: 60px;
    padding-right: 57px;
    height: 1500px;
    margin-bottom: 81px;
}

.section-lookbook .lookbook-group {
    position: relative;
}

.section-lookbook .lookbook-img-girl {
    position: absolute;
    left: 28px;
    top: 275px;
}

.section-reviews {
    margin-top: 200px;
}

.section-reviews .reviews-body {
    margin: 0;
    padding: 0;
    max-width: 1405px;
    margin-bottom: 100px;
}

.section-reviews .reviews-img-girl {
    width: 984px;
    height: 1261px;
}

.section-reviews .reviews-contant {
    margin-left: 60px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.section-reviews .reviews-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 103.52%;
    letter-spacing: -0.025em;
    text-transform: lowercase;
    max-width: 104px;
    margin-left: 20px;
    color: #111111;


}

.section-reviews .reviews-img {
    max-width: 984px;
    position: relative;
}

.section-reviews .reviews-comment {
    position: absolute;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 61px;
    letter-spacing: -0.025em;
    text-transform: uppercase;

    color: #F8F8F8;


    width: 701.39px;
    height: 793px;
    margin-left: 640px;
    margin-top: 420px;

}

.section-reviews .btn-right {
    margin-left: 150px;
}

.reviews-buttons {
    position: absolute;
    max-height: 65px;
    margin-right: 500px;
    margin-top: 1140px;
    padding-left: 300px;
}

.section-reviews .btn-reviews {

    width: 122.78px;
    height: 62.23px;


    position: absolute;

    background: rgba(217, 217, 217, 0.2);
    border: 1px solid #F8F8F8;
    backdrop-filter: blur(15px);
    border-radius: 50% / 50%;
}

.section-reviews .reviews-icons {
    width: 100px;
    height: 100px;
    color: #F8F8F8;
}

.section-reviews .reviews-head {
    padding-left: 150px;
}

.section-get-in-touch .get-in-touch-body {
    margin: 0px;
    max-width: 1408px;
    padding: 0px;
}

.section-get-in-touch .get-in-touch-head {
    margin-top: 100px;
    padding-left: 0px;
    margin-bottom: 100px;
}

.section-get-in-touch .get-in-touch-contant {
    height: 760px;
    background-color: #111111;
}

.section-get-in-touch .get-in-touch-container {
    max-width: 730px;
}

.section-get-in-touch .get-in-touch-label {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 61px;

    letter-spacing: -0.025em;
    text-transform: uppercase;

    color: #F8F8F8;
    margin-bottom: 60px;


}

.section-get-in-touch .get-in-touch-item {
    width: 611.25px;
    height: 27.03px;
    padding: 0px;
    margin-bottom: 80px;


}

.section-get-in-touch .get-in-touch-group {
    display: flex;
    flex-direction: column;
    max-height: 760px;
    padding-top: 114px;
    padding-left: 58px;
}

.section-get-in-touch .get-in-touch-form {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    letter-spacing: -0.055em;
    text-transform: lowercase;

    /* white */
    color: #F8F8F8;
    background: transparent;
    border: 0px;

}

.section-get-in-touch .get-in-touch-line {

    width: 611.25px;
    height: 0px;

    background: #F8F8F8;

    border: 1px solid #F8F8F8;

}

.section-get-in-touch .get-in-touch-img-container {
    margin-left: 684px;
    max-width: 700px;
    margin-top: -645px;
}

.section-get-in-touch .get-in-touch-btn {
    width: 619.49px;
    height: 87.38px;

    background: rgba(227, 227, 227, 0.2);
    border: 1px solid #F8F8F8;
    backdrop-filter: blur(15px);
    border-radius: 40px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.055em;
    text-transform: uppercase;

    color: #F8F8F8;

    margin-left: -20px;



}